[submodule "istore"]
	path = istore
	url = https://github.com/linkease/istore.git
[submodule "luci-app-unblockneteasemusic"]
	path = luci-app-unblockneteasemusic
	url = https://github.com/UnblockNeteaseMusic/luci-app-unblockneteasemusic.git
[submodule "luci-theme-argon"]
	path = luci-theme-argon
	url = https://github.com/jerrykuku/luci-theme-argon.git
[submodule "luci-app-argon-config"]
	path = luci-app-argon-config
	url = https://github.com/jerrykuku/luci-app-argon-config.git
[submodule "luci-app-filetransfer"]
	path = luci-app-filetransfer
	url = https://github.com/f8q8/luci-app-filetransfer.git
[submodule "luci-app-poweroff"]
	path = luci-app-poweroff
	url = https://github.com/esirplayground/luci-app-poweroff.git
[submodule "luci-app-fullconenat"]
	path = luci-app-fullconenat
	url = https://github.com/peter-tank/luci-app-fullconenat.git
[submodule "OpenAppFilter"]
	path = OpenAppFilter
	url = https://github.com/destan19/OpenAppFilter.git
[submodule "luci-app-serverchan"]
	path = luci-app-serverchan
	url = https://github.com/tty228/luci-app-serverchan.git
[submodule "luci-app-passwall"]
	path = luci-app-passwall
	url = https://github.com/xiaorouji/openwrt-passwall.git
	branch = luci
[submodule "Passwall"]
	path = Passwall
	url = https://github.com/xiaorouji/openwrt-passwall.git
	branch = packages
[submodule "openwrt-fullconenat"]
	path = openwrt-fullconenat
	url = https://github.com/LGA1150/openwrt-fullconenat.git
[submodule "luci-app-adguardhome"]
	path = luci-app-adguardhome
	url = https://github.com/rufengsuixing/luci-app-adguardhome.git
[submodule "luci-app-vlmcsd"]
	path = luci-app-vlmcsd
	url = https://github.com/cokebar/luci-app-vlmcsd.git
[submodule "openwrt-vlmcsd"]
	path = openwrt-vlmcsd
	url = https://github.com/cokebar/openwrt-vlmcsd.git
